<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TraceabilitySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mes.vmaxpower.com.cn/webservice/traceability.asmx"
                binding="basicHttpBinding" bindingConfiguration="TraceabilitySoap"
                contract="ServiceReference1.TraceabilitySoap" name="TraceabilitySoap" />
        </client>
    </system.serviceModel>
</configuration>